
<div class="container">
	<div class="row">
		<div class="col-xs-6 cincuenta"><a href="<%= pages_batman_path %>"><%= image_tag("batmanface.jpg") %></a></div>
		<div class="col-xs-6 cincuenta"><a href="<%= pages_superman_path %>"><%= image_tag("supermanface.png") %></a></div>
	</div>
</div>
